<!DOCTYPE html>
<html>

<head>
    <title>URL Shortener</title>
    <link rel="shortcut icon"
          href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
          type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <h2>URL Shortener Microservice</h2>

    <h3>How this API works:</h3>
    <p>
        <code>POST /api/shorturl/new</code> - <code>{ "url": "https://www.google.com" }</code>
        <br>
        <br>
        returns <code>{ "original_url": "https://www.google.com", "short_url": 1 }</code>
    </p>
    <br>
    <p>
        <code>GET /api/shorturl/:number</code> redirects to matching URL
    </p>
    <hr>
    <h3>Example</h3>
    <p>
        <code>POST /api/shorturl/new</code> - <code>{ "url": "https://www.twitter.com" }</code>
        <br>
        (response: <code>{ "original_url": "https://www.twitter.com", "short_url": 2 }</code>)
        <br>
        <br>
        <code>GET /api/shorturl/2</code> redirects to twitter.com
    </p>
    <br>
    <hr>
    <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL to be shortened</label>
        <input id="url_input" type="text" name="url" value="https://www.freecodecamp.com">
        <input type="submit" value="Shorten URL">
    </form>
    <div class="footer">
        <p>
            <a href="https://www.twitter.com/jlsalbego">Jean Louis Salbego</a>
        </p>
    </div>
</div>
</body>


</html>